<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" id="theme" href="__ADMIN__/css/theme-default.css"/>
<link rel="stylesheet" href="__ADMIN__/plugins/message_alert/css/m_css.css">

<script src="__ADMIN__/plugins/message_alert/js/m_js.js"></script>
<script type="text/javascript" src="__ADMIN__/js/jquery-2.2.4.min.js"></script>
<script src="__ADMIN__/plugins/ajax-form/ajax-form.js"></script>
<script src="__HOME__/login.js"></script>
<style>
    .login-container {
        background: url(__UPLOAD__/admin/common/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .login-container .login-box .login-body {
        background: #33414e;
    }
</style>